* {box-sizing: border-box;}

/*** Mobile ****/
@media only screen and (max-width: 767px) {
 .col-sm-12 {float: left; width: 100%; border: 1px solid green;}
}

/*** Tablet ****/
@media only screen and (min-width: 768px) and (max-width: 991px) {
 .col-md-6 {float: left; width: 50%; border: 1px solid green;}
 .col-md-12 {float: left; width: 100%; border: 1px solid green;}
}

/*** Desktop ****/
@media only screen and (min-width: 992px) {
 .col-lg-4 {float: left; width:33%; border: 1px solid green;}
}

.menu {
 text-align: center;
 padding: 30px 0px;
}


